// -----------------------------------------------------------------------------
// This file contains all styles related to the label component.
// -----------------------------------------------------------------------------
.label {
	margin-bottom: 10px;
	font-weight: 700;
	color: $secondary;
}
