// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

@font-face {
	font-family: 'Harcourts Script';
	src: url('https://s3-ap-southeast-2.amazonaws.com/mydesign3.websiteblue.com/resources/admin/4349/Fonts/HarcourtsScript.eot');
	src: url('https://s3-ap-southeast-2.amazonaws.com/mydesign3.websiteblue.com/resources/admin/4349/Fonts/HarcourtsScript.eot?#iefix') format('embedded-opentype'), url('https://s3-ap-southeast-2.amazonaws.com/mydesign3.websiteblue.com/resources/admin/4349/Fonts/HarcourtsScript.woff2') format('woff2'), url('https://s3-ap-southeast-2.amazonaws.com/mydesign3.websiteblue.com/resources/admin/4349/Fonts/HarcourtsScript.woff') format('woff'), url('https://s3-ap-southeast-2.amazonaws.com/mydesign3.websiteblue.com/resources/admin/4349/Fonts/HarcourtsScript.ttf') format('truetype'), url('https://s3-ap-southeast-2.amazonaws.com/mydesign3.websiteblue.com/resources/admin/4349/Fonts/HarcourtsScript.svg#Harcourts Script') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/// Default font family
$font-default: 'Source Sans Pro';

/// @type List
$text-font-stack: $font-default, 'Helvetica', 'Arial', sans-serif !default;

// Custom font family
$signature: 'Harcourts Script', 'Helvetica', 'Arial', sans-serif;

// Custom Colors
$neutral-100: #f6f7fa;
$neutral-200: #ececec;
$neutral-300: #cad1e1;
$neutral-400: #95a1bb;
$neutral-500: #272525;
$blackopacity: #00000060;

$primary: #50994a;
$secondary: #a6cc46;
$invertedtext: #ffffff;
$success: #00da6f;
$danger: #df1f1f;
$light: $neutral-100;
$dark: $neutral-500;

/// Copy text color
/// @type Color
$text-color: $dark !default;

/// Main brand color
/// @type Color
$brand-color: $primary !default;
