// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Default font family
$font-default: 'Roboto';

/// @type List
$text-font-stack: $font-default, 'Helvetica', 'Arial', sans-serif !default;

// Custom Colors
$neutral-100: #f6f7fa;
$neutral-200: #ececec;
$neutral-300: #cad1e1;
$neutral-400: #95a1bb;
$neutral-500: #272525;
$blackopacity: #00000060;

$primary: #50994a;
$secondary: #a6cc46;
$invertedtext: #ffffff;
$success: #00da6f;
$danger: #df1f1f;
$light: $neutral-100;
$dark: $neutral-500;

/// Copy text color
/// @type Color
$text-color: $dark !default;

/// Main brand color
/// @type Color
$brand-color: $primary !default;
