// -----------------------------------------------------------------------------
// This file contains all styles related to the icon component.
// -----------------------------------------------------------------------------
.property-icons {
	font-size: 22px;
	line-height: 1;

	& > * {
		display: inline-block;
		vertical-align: middle;
	}

	img {
		width: auto;
		height: 20px;
	}
}
