.footer {
	.agent-holder {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.agent-photo {
		position: relative;
		display: block;
		width: 62px;
		height: 62px;
		border-width: 1px;
		border-style: solid;
		border-color: $dark;
		border-radius: 50%;
		overflow: hidden;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.agent-details {
		display: block;
		padding-left: 10px;
	}
}
