.property-slider-section {
	padding-top: 0;
	padding-bottom: 0;

	.carousel-indicators {
		margin-bottom: 20px;
		width: auto;
	}

	.carousel-indicators li {
		width: 12px;
		height: 12px;
		background-color: transparent;
		border-width: 2px;
		border-style: solid;
		border-color: #fff;
		border-radius: 50%;
		opacity: 1;
	}

	.carousel-indicators li.active {
		width: 12px;
		height: 12px;
		background-color: #fff;
		border: none;
	}

	.carousel-control-next-icon,
	.carousel-control-prev-icon {
		height: 3rem;
		width: 3rem;
	}

	.carousel-inner {
		padding-top: 67%;
		height: auto;
	}

	.carousel-item {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img {
			height: 100%;
			object-fit: cover;
		}
	}

	.carousel-control-next-icon {
		background-image: url('https://s3-ap-southeast-2.amazonaws.com/mydesign3.websiteblue.com/resources/file/admins/4850/etable/img/icon_chevron_right.png');
	}

	.carousel-control-prev-icon {
		background-image: url('https://s3-ap-southeast-2.amazonaws.com/mydesign3.websiteblue.com/resources/file/admins/4850/etable/img/icon_chevron_left.png');
	}

	@media (min-width: 768px) {
		.carousel-indicators {
			margin-bottom: 40px;
		}

		.carousel-inner {
			padding-top: 66%;
		}
	}

	@media (min-width: 1200px) {
		.carousel-inner {
			padding-top: 30%;
		}
	}
}
